parameters:
	level: max
	phpVersion: 70200
	treatPhpDocTypesAsCertain: true

	paths:
		- src
		- tests
		- typo3-coding-standards

	excludePaths:
		analyse:
			- tests/Console/Style/SimpleStyle.php

	stubFiles:
		- stubs/Command.stub
