<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <coverage
        cacheDirectory="var/cache/coverage"
    >
        <include>
            <file>typo3-coding-standards</file>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory="var/log/coverage/report"/>
            <php outputFile="var/log/coverage/coverage.cov"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Coding Standards Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!-- Compatibility with phpunit 8.5 -->
    <filter>
        <whitelist>
            <file>typo3-coding-standards</file>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <junit outputFile="var/log/junit.xml"/>
        <testdoxHtml outputFile="var/log/testdox.html"/>
        <testdoxText outputFile="var/log/testdox.txt"/>
        <!-- Compatibility with phpunit 8.5 -->
        <log type="coverage-html" target="var/log/coverage/report"/>
        <log type="coverage-php" target="var/log/coverage/coverage.cov"/>
        <log type="junit" target="var/log/junit.xml"/>
        <log type="testdox-html" target="var/log/testdox.html"/>
        <log type="testdox-text" target="var/log/testdox.txt"/>
    </logging>
</phpunit>
